/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
#header{
background-color:#011e29;
	color:white;
	display:flex;
	justify-content:center;
}
.header{
	background-color: white;
	display:flex;

	
}
.a{
	background-color: #f5f5f5;
	padding:30px;
	margin:2px;
	border-radius:10px;
	
}
#b{
	background-color:white;
	
border: 1px solid whitesmoke;
	background-color:white;
}
#c{
	border: 1px solid whitesmoke;
	background-color:white;

}
#d{
	border: 1px solid whitesmoke;
	background-color:white;

}